openapi: 3.0.3
info:
  title: Storable Edge (storEDGE) Delinquency & Auctions Documents & eSign API
  description: A representative OpenAPI reference for the Storable Edge (storEDGE) REST API, the modern property-management API in the Storable brand family (SiteLink, storEDGE, SpareFoot). The endpoint paths, HTTP methods, and parameter names below are taken from Storable's public v1 API reference at https://api.storedgefms.com/docs/v1.html. That page enumerates roughly 150 endpoints across tenants, units, ledgers, leads, move-ins/outs, gate access, insurance, tasks, documents/eSign, delinquency/auctions, and reporting; this document models a representative subset of those confirmed paths per resource area rather than every documented route. Response/request body schemas below are reasonably modeled from the named resources (tenant, unit, ledger, lead, etc.) since the source page documents endpoints and parameters but was not captured with full field-by-field JSON schemas - treat schema properties as illustrative, not a verbatim contract. All calls are scoped to a facility (or company) by path parameter and authenticated with one-legged OAuth 1.0 (API access key + secret issued to a storEDGE customer, used as the OAuth consumer key/secret with no additional handshake).
  version: '1.0'
  contact:
    name: Storable
    url: https://www.storable.com/products/edge/
servers:
- url: https://api.storedgefms.com/v1
  description: Storable Edge (storEDGE) production API, one-legged OAuth 1.0
security:
- oauth1: []
tags:
- name: Documents & eSign
  description: Lease/rental documents and electronic signature.
paths:
  /{facility_id}/documents/{id}:
    get:
      operationId: getDocument
      tags:
      - Documents & eSign
      summary: Get a document (e.g. lease PDF) by ID
      parameters:
      - $ref: '#/components/parameters/facilityId'
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The document.
  /{facility_id}/events/{event_id}/documents:
    get:
      operationId: listEventDocuments
      tags:
      - Documents & eSign
      summary: List documents associated with a rental event
      parameters:
      - $ref: '#/components/parameters/facilityId'
      - name: event_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Event documents.
  /{facility_id}/documents/{event_id}/send_esignable_documents:
    post:
      operationId: sendEsignableDocuments
      tags:
      - Documents & eSign
      summary: Send esignable documents to a tenant for a rental event
      parameters:
      - $ref: '#/components/parameters/facilityId'
      - name: event_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Documents sent.
  /{facility_id}/events/{event_id}/esign:
    post:
      operationId: esignEvent
      tags:
      - Documents & eSign
      summary: Complete eSignature for a rental event
      parameters:
      - $ref: '#/components/parameters/facilityId'
      - name: event_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: eSignature completed.
components:
  parameters:
    facilityId:
      name: facility_id
      in: path
      required: true
      description: The storEDGE facility ID the request is scoped to.
      schema:
        type: string
  securitySchemes:
    oauth1:
      type: http
      scheme: oauth1
      description: 'Non-standard OpenAPI representation of storEDGE''s actual scheme: one-legged OAuth 1.0. The API access key issued to a storEDGE customer is used as the OAuth consumer key and the API secret key as the consumer secret, signing each request; there is no three-legged redirect/token exchange.'
