openapi: 3.2.0
info:
  title: Storable Edge (storEDGE) Tasks API
  description: A representative OpenAPI reference for the Storable Edge (storEDGE) REST API, the modern property-management API in the Storable brand family (SiteLink, storEDGE, SpareFoot).
  version: '1.0'
  contact:
    name: Storable
    url: https://www.storable.com/products/edge/
servers:
- url: https://api.storedgefms.com/v1
  description: Storable Edge (storEDGE) production API, one-legged OAuth 1.0
security:
- oauth1: []
tags:
- name: Tasks
  description: Facility and unit-level operational task management.
paths:
  /{facility_id}/tasks:
    get:
      operationId: listTasks
      tags:
      - Tasks
      summary: List facility-level tasks
      parameters:
      - $ref: '#/components/parameters/facilityId'
      responses:
        '200':
          description: Tasks.
    post:
      operationId: createTask
      tags:
      - Tasks
      summary: Create a facility-level task
      parameters:
      - $ref: '#/components/parameters/facilityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskInput'
      responses:
        '201':
          description: Task created.
  /{facility_id}/tasks/{id}/complete:
    put:
      operationId: completeTask
      tags:
      - Tasks
      summary: Mark a task complete
      parameters:
      - $ref: '#/components/parameters/facilityId'
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Task marked complete.
  /{facility_id}/units/{unit_id}/tasks:
    get:
      operationId: listUnitTasks
      tags:
      - Tasks
      summary: List tasks scoped to a unit
      parameters:
      - $ref: '#/components/parameters/facilityId'
      - name: unit_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Unit tasks.
    post:
      operationId: createUnitTask
      tags:
      - Tasks
      summary: Create a task scoped to a unit
      parameters:
      - $ref: '#/components/parameters/facilityId'
      - name: unit_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskInput'
      responses:
        '201':
          description: Unit task created.
components:
  schemas:
    TaskInput:
      type: object
      properties:
        category:
          type: string
        description:
          type: string
        due_date:
          type: string
          format: date
  parameters:
    facilityId:
      name: facility_id
      in: path
      required: true
      description: The storEDGE facility ID the request is scoped to.
      schema:
        type: string
  securitySchemes:
    oauth1:
      type: http
      scheme: oauth1
      description: 'Non-standard OpenAPI representation of storEDGE''s actual scheme: one-legged OAuth 1.0. The API access key issued to a storEDGE customer is used as the OAuth consumer key and the API secret key as the consumer secret, signing each request; there is no three-legged redirect/token exchange.'
