openapi: 3.2.0
info:
  title: Storable Edge (storEDGE) Documents & eSign API
  description: A representative OpenAPI reference for the Storable Edge (storEDGE) REST API, the modern property-management API in the Storable brand family (SiteLink, storEDGE, SpareFoot).
  version: '1.0'
  contact:
    name: Storable
    url: https://www.storable.com/products/edge/
servers:
- url: https://api.storedgefms.com/v1
  description: Storable Edge (storEDGE) production API, one-legged OAuth 1.0
security:
- oauth1: []
tags:
- name: Documents & eSign
  description: Lease/rental documents and electronic signature.
paths:
  /{facility_id}/documents/{id}:
    get:
      operationId: getDocument
      tags:
      - Documents & eSign
      summary: Get a document (e.g. lease PDF) by ID
      parameters:
      - $ref: '#/components/parameters/facilityId'
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The document.
  /{facility_id}/events/{event_id}/documents:
    get:
      operationId: listEventDocuments
      tags:
      - Documents & eSign
      summary: List documents associated with a rental event
      parameters:
      - $ref: '#/components/parameters/facilityId'
      - name: event_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Event documents.
  /{facility_id}/documents/{event_id}/send_esignable_documents:
    post:
      operationId: sendEsignableDocuments
      tags:
      - Documents & eSign
      summary: Send esignable documents to a tenant for a rental event
      parameters:
      - $ref: '#/components/parameters/facilityId'
      - name: event_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Documents sent.
  /{facility_id}/events/{event_id}/esign:
    post:
      operationId: esignEvent
      tags:
      - Documents & eSign
      summary: Complete eSignature for a rental event
      parameters:
      - $ref: '#/components/parameters/facilityId'
      - name: event_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: eSignature completed.
components:
  parameters:
    facilityId:
      name: facility_id
      in: path
      required: true
      description: The storEDGE facility ID the request is scoped to.
      schema:
        type: string
  securitySchemes:
    oauth1:
      type: http
      scheme: oauth1
      description: 'Non-standard OpenAPI representation of storEDGE''s actual scheme: one-legged OAuth 1.0. The API access key issued to a storEDGE customer is used as the OAuth consumer key and the API secret key as the consumer secret, signing each request; there is no three-legged redirect/token exchange.'
