openapi: 3.2.0
info:
  title: Storable Edge (storEDGE) Insurance API
  description: A representative OpenAPI reference for the Storable Edge (storEDGE) REST API, the modern property-management API in the Storable brand family (SiteLink, storEDGE, SpareFoot).
  version: '1.0'
  contact:
    name: Storable
    url: https://www.storable.com/products/edge/
servers:
- url: https://api.storedgefms.com/v1
  description: Storable Edge (storEDGE) production API, one-legged OAuth 1.0
security:
- oauth1: []
tags:
- name: Insurance
  description: Tenant protection plan summary, activity, and enrollment settings.
paths:
  /{facility_id}/insurance/summary:
    get:
      operationId: getInsuranceSummary
      tags:
      - Insurance
      summary: Get facility-level tenant protection/insurance summary
      parameters:
      - $ref: '#/components/parameters/facilityId'
      responses:
        '200':
          description: Insurance summary.
  /{facility_id}/insurance/activity:
    get:
      operationId: getInsuranceActivity
      tags:
      - Insurance
      summary: Get facility-level insurance enrollment activity
      parameters:
      - $ref: '#/components/parameters/facilityId'
      responses:
        '200':
          description: Insurance activity.
  /{facility_id}/insurance/tenant_auto_enroll_settings:
    put:
      operationId: updateTenantAutoEnrollSettings
      tags:
      - Insurance
      summary: Update tenant insurance auto-enrollment settings
      parameters:
      - $ref: '#/components/parameters/facilityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Settings updated.
components:
  parameters:
    facilityId:
      name: facility_id
      in: path
      required: true
      description: The storEDGE facility ID the request is scoped to.
      schema:
        type: string
  securitySchemes:
    oauth1:
      type: http
      scheme: oauth1
      description: 'Non-standard OpenAPI representation of storEDGE''s actual scheme: one-legged OAuth 1.0. The API access key issued to a storEDGE customer is used as the OAuth consumer key and the API secret key as the consumer secret, signing each request; there is no three-legged redirect/token exchange.'
