openapi: 3.0.3
info:
  title: Storable Edge (storEDGE) Delinquency & Auctions API
  description: A representative OpenAPI reference for the Storable Edge (storEDGE) REST API, the modern property-management API in the Storable brand family (SiteLink, storEDGE, SpareFoot). The endpoint paths, HTTP methods, and parameter names below are taken from Storable's public v1 API reference at https://api.storedgefms.com/docs/v1.html. That page enumerates roughly 150 endpoints across tenants, units, ledgers, leads, move-ins/outs, gate access, insurance, tasks, documents/eSign, delinquency/auctions, and reporting; this document models a representative subset of those confirmed paths per resource area rather than every documented route. Response/request body schemas below are reasonably modeled from the named resources (tenant, unit, ledger, lead, etc.) since the source page documents endpoints and parameters but was not captured with full field-by-field JSON schemas - treat schema properties as illustrative, not a verbatim contract. All calls are scoped to a facility (or company) by path parameter and authenticated with one-legged OAuth 1.0 (API access key + secret issued to a storEDGE customer, used as the OAuth consumer key/secret with no additional handshake).
  version: '1.0'
  contact:
    name: Storable
    url: https://www.storable.com/products/edge/
servers:
- url: https://api.storedgefms.com/v1
  description: Storable Edge (storEDGE) production API, one-legged OAuth 1.0
security:
- oauth1: []
tags:
- name: Delinquency & Auctions
  description: Delinquency event tracking and lien-unit auctions.
paths:
  /{facility_id}/delinquency_events:
    get:
      operationId: listDelinquencyEvents
      tags:
      - Delinquency & Auctions
      summary: List delinquency events
      parameters:
      - $ref: '#/components/parameters/facilityId'
      responses:
        '200':
          description: Delinquency events.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DelinquencyEvent'
  /{facility_id}/delinquency_events/{id}:
    get:
      operationId: getDelinquencyEvent
      tags:
      - Delinquency & Auctions
      summary: Get a delinquency event by ID
      parameters:
      - $ref: '#/components/parameters/facilityId'
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The delinquency event.
  /{facility_id}/delinquency_events/{id}/{verb}:
    patch:
      operationId: transitionDelinquencyEvent
      tags:
      - Delinquency & Auctions
      summary: Apply a state-transition verb to a delinquency event
      parameters:
      - $ref: '#/components/parameters/facilityId'
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: verb
        in: path
        required: true
        description: Action verb, e.g. waive, escalate, resolve.
        schema:
          type: string
      responses:
        '200':
          description: Event transitioned.
  /{facility_id}/auctions/scheduled:
    get:
      operationId: listScheduledAuctions
      tags:
      - Delinquency & Auctions
      summary: List scheduled lien-unit auctions for a facility
      parameters:
      - $ref: '#/components/parameters/facilityId'
      responses:
        '200':
          description: Scheduled auctions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Auction'
  /companies/{company_id}/active_auctions:
    get:
      operationId: listActiveCompanyAuctions
      tags:
      - Delinquency & Auctions
      summary: List active auctions across every facility in a company
      parameters:
      - $ref: '#/components/parameters/companyId'
      responses:
        '200':
          description: Active auctions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Auction'
components:
  schemas:
    DelinquencyEvent:
      type: object
      properties:
        id:
          type: string
        ledger_id:
          type: string
        tenant_id:
          type: string
        stage:
          type: string
        days_delinquent:
          type: integer
        balance:
          type: number
    Auction:
      type: object
      properties:
        id:
          type: string
        unit_id:
          type: string
        facility_id:
          type: string
        scheduled_date:
          type: string
          format: date
        status:
          type: string
          enum:
          - scheduled
          - active
          - completed
          - canceled
  parameters:
    companyId:
      name: company_id
      in: path
      required: true
      description: The storEDGE company (multi-facility account) ID.
      schema:
        type: string
    facilityId:
      name: facility_id
      in: path
      required: true
      description: The storEDGE facility ID the request is scoped to.
      schema:
        type: string
  securitySchemes:
    oauth1:
      type: http
      scheme: oauth1
      description: 'Non-standard OpenAPI representation of storEDGE''s actual scheme: one-legged OAuth 1.0. The API access key issued to a storEDGE customer is used as the OAuth consumer key and the API secret key as the consumer secret, signing each request; there is no three-legged redirect/token exchange.'
